.chat-item {
  display: flex;
  padding: 12px 16px;
  cursor: pointer;
  transition: background 0.2s;
  border-bottom: 1px solid #1E4D36;

  &:hover {
    background-color: #21563D; // Цвет Hover
  }

  &.active {
    background-color: #19B45B; // Цвет активного чата
    border-left: 4px solid #16A34A;
  }

  .avatar-box {
    position: relative;
    margin-right: 12px;

    .avatar {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      object-fit: cover;
    }

    .online-indicator {
      width: 12px;
      height: 12px;
      background: #16A34A;
      border: 2px solid #0F8A4B;
      border-radius: 50%;
      position: absolute;
      bottom: 2px;
      right: 2px;
    }
  }
}