<div class="list-container">
  <div *ngFor="let chat of chats" 
       [routerLink]="['/chat', chat.id]" 
       routerLinkActive="active" 
       class="chat-item">
    <div class="avatar-box">
      <img [src]="chat.avatar" class="avatar">
      <div *ngIf="chat.online" class="online-indicator"></div>
    </div>
    <div class="content">
      <div class="top">
        <span class="name">{{ chat.name }}</span>
        <span class="time">{{ chat.timestamp | date:'HH:mm' }}</span>
      </div>
      <div class="bottom">
        <p class="last-msg">{{ chat.lastMessage }}</p>
        <span *ngIf="chat.unreadCount > 0" class="badge">{{ chat.unreadCount }}</span>
      </div>
    </div>
  </div>
</div>