.chat-layout {
  display: flex;
  height: 100vh;
  background-color: #0F8A4B; // Твой обновленный темный фон
  overflow: hidden;

  app-chat-list {
    width: 350px;
    border-right: 1px solid #1E4D36; // Границы
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}